"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      predefinedColor: "Indigo"
    tabs:
      compactTabs: true
      stretchedTabs: true
  core:
    autoHideMenuBar: true
    projectHome: "/home/axolotl/Projects"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "VictorMono Nerd Font"
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "ec036002-e622-4745-87ca-2d3ee852303d"
  welcome:
    showOnStartup: false
