* {
    border: none;
    border-radius: 0;
    font-family: "Cozette";
    font-size: 12px;
    min-height: 0;
    padding: 0 5px;
}

tooltip {
    background-color: #{{bg}};
    color: #{{fg}};
}

window#waybar {
    background-color: #{{bg}};
    border-bottom: 1px solid #{{bg_alt}};
    color: #{{fg}};
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    border-style: solid;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 8px;
    color: #{{black_br}};
    min-width: 0;
}

#workspaces button.visible {
    color: #{{blue}}
}

#workspaces button.focused {
    color: #{{bg}};
    background-color: #{{green}};
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background-color: #{{bg}};
}

#workspaces button:active {
    box-shadow: none;
    text-shadow: none;
    background-color: #{{bg}};
}

#workspaces button.urgent {
    color: #{{red}};
}

#workspaces {
    margin: 0 4px;
}

#mode {
    color: #{{magenta}}
}

#custom-media {
    min-width: 100px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #{{bg}};
}

#battery {
    color: #{{blue}};
}

#battery.charging, #battery.plugged {
    color: #{{blue_br}};
}

@keyframes blink {
    to {
        color: #{{bg}};
        text-shadow: none;
    }
}

#battery.critical:not(.charging) {
    color: #{{red}};
    text-shadow: #{{red}};
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory {
    color: #{{magenta}}
}

#cpu {
    color: #{{green}};
}

#pulseaudio {
    color: #{{yellow}};
}

#pulseaudio.muted {
    color: #{{red}};
}
#tray,


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #{{red}}
}

#idle_inhibitor {
    padding: 0 10px;
}


#idle_inhibitor.activated {
    color: #{{red}};
    padding: 0 10px;
}

#custom-github {
    color: #{{red}};
    padding: 5px 5px;
}

#custom-scratchpad {
    color: #{{red}};
}
