* {
    border: none;
    border-radius: 0;
    font-family: "VictorMono Nerd Font";
    font-size: 11.5px;
    min-height: 0;
    padding: 0 5px;
}

tooltip {
    background-color: #__[bg_dark]__;
    color: #__[fg]__;
}

window#waybar {
    background-color: #__[bg]__;
    border-top: 1px solid #__[bg_alt]__;
    color: #__[fg]__;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    all: unset;
}
#workspaces button {
    color: #__[black_br]__;
}

#workspaces button.visible {
    color: #__[blue]__
}

#workspaces button.focused {
    color: #__[green]__
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background-color: #__[bg]__;
}

#workspaces button:active {
    box-shadow: none;
    text-shadow: none;
    background-color: #__[bg]__;
}

#workspaces button.urgent {
    color: #__[red]__;
}

#workspaces {
    margin: 0 4px;
}

#mode {
    color: #__[magenta]__
}

#custom-media {
    color: #__[yellow]__;
    min-width: 100px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #__[green]__;
}

#battery {
    color: #__[blue]__;
}

#battery.charging, #battery.plugged {
    color: #__[blue_br]__;
}

@keyframes blink {
    to {
        color: #__[bg]__;
        text-shadow: none;
    }
}

#battery.critical:not(.charging) {
    color: #__[red]__;
    text-shadow: #__[red]__;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory {
    color: #__[magenta]__
}

#cpu {
    color: #__[green]__;
}

#pulseaudio {
    color: #__[yellow]__;
}

#pulseaudio.muted {
    color: #__[red]__;
}
#tray,


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #__[red]__
}

#idle_inhibitor {
    padding: 0 10px;
}


#idle_inhibitor.activated {
    color: #__[red]__;
    padding: 0 10px;
}

#custom-github {
    color: #__[red]__;
    padding: 5px 5px;
}

#custom-scratchpad {
    color: #__[red]__;
}
#custom-pacman {
    color: #__[red]__;
}
