.bar {
    background-color: $bg;
    color: $fg;
    border-radius: 6px 6px 0px 0px;
    border-top: $bg_alt solid 2px;
    border-left: $bg_alt solid 2px;
    border-right: $bg_alt solid 2px;
}

.clock {
    color: $green;
    background-color: $bg_dark;
    margin: 9px;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 7px;
}

.sound {
    color: $yellow;
    background-color: $bg_dark;
    border-radius: 7px;
    margin: 1rem;
    padding: 0.3rem 0.8rem;
}

.workspaces {
    color: $red;
    margin: 1rem;
    button {
        padding: 0.2rem 0.5rem;
        background-color: $bg_dark;
        border-radius: 7px;
        margin: 0.2rem;
        &.focused {
            color: $green;
        }
    }
}
