$fg : #{{fg}};
$fg_alt : #{{fg_alt}};
$fg_alter : #{{fg_alter}};
$fg_light : #{{fg_light}};
$bg : #{{bg}};
$bg_alt : #{{bg_alt}};
$bg_alter : #{{bg_alter}};
$bg_dark : #{{bg_dark}};
$black : #{{black}};
$black_br : #{{black_br}};
$red : #{{red}};
$red_br : #{{red_br}};
$green : #{{green}};
$green_br : #{{green_br}};
$yellow : #{{yellow}};
$yellow_br : #{{yellow_br}};
$blue : #{{blue}};
$blue_br : #{{blue_br}};
$magenta : #{{magenta}};
$magenta_br : #{{magenta_br}};
$cyan : #{{cyan}};
$cyan_br : #{{cyan_br}};
$white : #{{white}};
$white_br : #{{white_br}};
