.powermenu {
    background-color: $bg_dark;
    border: 5px solid $bg_alt;
    color: $red;
}

.monopower {
    color: $green;
}

.dipower {
    color: $yellow;
}

.tripower {
    color: $blue
}

.tetrapower {
    color: $magenta
}
