@forward "../lib/bubbleRoles.css";
@forward "../lib/spinningIcons.css";
@forward "../lib/compactStatus.css";
// @forward "../lib/userBackground.css";

:root {
    /** Number of role columns */
    --roleslist-columns: 1;
}
.theme-dark {
    --background-primary: #{{bg}};
    --background-secondary: #{{bg_alt}};
    --background-tertiary: #{{bg_alter}};
    --background-accent: #{{accent}};
    --text-normal: #{{fg}};
    --text-spotify: #{{blue}};
    --text-muted: #{{fg}};
    --text-link: #{{magenta}};
    --background-floating: #{{bg_dark}};
    --header-primary: #{{fg_light}};
    --header-secondary: #{{fg}};
    --header-spotify: #{{blue_br}};
    --interactive-normal: #{{fg}};
    --interactive-hover: #{{magenta}};
    --interactive-active: #{{fg}};
    --ping: #{{red}};
    --brand-experiment: #{{yellow}};
}

.theme-light,


.panels-j1Uci_, .peopleColumn-29fq28{
    background-color: var(--background-secondary);
}

.textArea-12jD-V, .lookBlank-3eh9lL,  .threadSidebar-1o3BTy, .scrollableContainer-2NUZem {
    background-color: var(--background-tertiary);
}

.numberBadge-2s8kKX, .base-PmTxvP, .baseShapeRound-1Mm1YW, .bar-30k2ka, .unreadMentionsBar-1Bu1dC, .mention-1f5kbO, .active-1SSsBb, .disableButton-220a9y {
    background-color: var(--ping) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan, .lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--ping) !important;
}

.peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}

.container-YkUktl {
    background-color: var(--background-secondary);
}

.container-1zzFcN{
    background-color: var(--background-color);
}
