[Unit]
Description=flowy

[Service]
Environment=XDG_CURRENT_DESKTOP=GNOME
ExecStart=/usr/bin/flowy --solar /home/axolotl/.dyn-walls/village 51.532600 9.928440

[Install]
WantedBy=default.target

