@import "scss/colors";
@import "scss/powermenu";
@import "scss/greeting";
@import "scss/bar";
@import "scss/cal";

* {
  all: unset;
  font-family: Cozette;
  font-size: 12px;
}

tooltip {
    background-color: $bg_alt;
    font-family: Dina;
    font-size: 12px;
    font-weight: bold;
    font-style: italic
}
