* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: Cozette;
  font-size: 12px;
  border-radius: 5px;
}

$bg: #{{bg}};
$bg_dark: #{{bg_dark}};
$bg_alt: #{{bg_alt}};
$fg: #{{fg}};
$fg_alt: #{{fg_alt}};
$red: #{{red}};
$green: #{{green}};
$yellow: #{{yellow}};
$blue: #{{blue}};
$magenta: #{{magenta}};
$cyan: #{{cyan}};
$white: #{{white}};

@keyframes magite {
    from {
        color: $red
    }
    to {
        color: $magenta
    }
}

.double {
    background-color: $bg_dark;
    border: 5px;
}

.first{
    color: $magenta;
    animation: magite infinite ease-in-out 1s alternate
}

.second {
    color: $yellow;
}
