* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: CozetteVector;
  font-size: 24px;
}

$bg: #{{bg}};
$bg_dark: #{{bg_dark}};
$bg_alt: #{{bg_alt}};
$fg: #{{fg}};
$fg_alt: #{{fg_alt}};
$red: #{{red}};
$green: #{{green}};
$yellow: #{{yellow}};
$blue: #{{blue}};
$magenta: #{{magenta}};
$cyan: #{{cyan}};
$white: #{{white}};

.double {
    background-color: $bg_dark;
    border: 5px;
}

.first{
    color: $magenta;
}

.second {
    color: $yellow;
}
