configuration {
    modi: "run,ssh,drun";
    font: "Iosevka Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus";
    case-sensitive: false;
    display-ssh:    "  :";
    display-run:    "  :";
    display-drun:   "  :";
    display-window: "  :";
    display-combi:  "  :";
}
@theme "theme"
