configuration {
    modi: "run,ssh,drun";
    font: "CozetteVector 9";
    show-icons: true;
    icon-theme: "Papirus";
    case-sensitive: false;
    display-ssh:    "ssh:";
    display-run:    "run:";
    display-drun:   "dru:";
    display-window: "win:";
    display-combi:  "com:";
}
@theme "theme"
